extends layout

block content
  div#main.pure-g
    div#index.pure-u-1.l-box
      h1= title
      p Welcome to the Cross Origin Auth demo.
      br
      #msg
      br
      #loginform
        form(class="pure-form pure-form-stacked")
          div#pure-control-group
          div#pure-u-1.pure-u-md-1-3
            label(for="username") Username
            input(type="text", class="pure-u-1-6", name="username", id="username" value="j@j.com")
          div#pure-u-1.pure-u-md-1-3
            label(for="password") Password
            input(type="password", name="password", class="pure-u-1-6", id="password" value="ABcd1234!")
      p
        submit#signinButton.pure-button.pure-button-primary(onclick="signIn()") Login
        &nbsp;
        button#ssoButton.pure-button.pure-button-primary(onclick="checkSSO()") Try SSO
